header {
    background-color: #19318D;
}

header h1 {
    margin: 0;
    padding: 15px 0 15px;
    text-align: center;
    font-family: 'Spectral SC', serif;
    font-weight: 700;
    font-size: 62px;
}

header nav ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

header nav ul li {
    display: block;
    margin: 20px 0 20px;
    text-align: center;
}

header nav ul li a {
    text-decoration: none;
    color: #FDFFFC;
    font-weight: 700;
}

header nav ul li:last-child {
    padding-bottom: 20px;
    margin-bottom: 0;
}
