header {
    background-color: #19318D;
}

header h1 {
    margin: 0;
    padding: 15px 0 15px;
    text-align: center;
    font-family: 'Spectral SC', serif;
    font-weight: 700;
    font-size: 40px;
}

header nav ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

header nav ul li {
    display: block;
    margin: 10px 0 10px;
    text-align: center;
}

header nav ul li a {
    text-decoration: none;
    color: #FDFFFC;
    font-weight: 700;
    display: block;
    padding: 20px;
    background-color: #2849EC;
}

header nav ul li:last-child {
    padding-bottom: 20px;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    header h1 {
        font-size: 62px;
    }
} /* End of media768 */

@media screen and (min-width: 1024px) {

    header nav {
        margin: 0 auto;
        width: 50%;
    }

    header nav ul {
        margin-bottom: 0;
        display: flex;
        justify-content: space-around;
    }

    header nav ul li {
        display: inline-block;
    }

    header nav ul li a {
        background-color: #19318D;
    }

    header nav ul li .active {
        text-decoration: underline;
        text-underline-position: under;
    }

}