<main>
  <div class="destinationBanner" [style.background-image]="'url(' + image + ')'">
    <h2>{{ destination }}</h2>
    <span>{{ country }}</span>
  </div>
  <p>{{ description }}</p>
  <h3 class="attractionsHeading">Attractions</h3>
  <div  *ngFor="let attraction of data" class="attractionCard">
    <h4>{{ attraction.name }}</h4>
    <div>
      <div>
        <p>{{ attraction.description }}</p>
        <a href="{{ attraction.information }}" target="_blank">More Info!</a>
      </div>
      <img src="{{ attraction.image }}">
    </div>
  </div>
</main>