<main>
  <div class="destinationBanner">
    <h2>{{ destination }}</h2>
    <span>{{ country }}</span>
    <img src="{{ image }}">
  </div>
  <p>{{ description }}</p>
  <h3 class="attractionsHeading">Attractions</h3>
  <div  *ngFor="let attraction of data" class="attractionCard">
    <h3>{{ attraction.name }}</h3>
    <div>
      <div>
        <p>{{ attraction.description }}</p>
        <a href="{{ attraction.information }}" target="_blank">Take a look!</a>
      </div>
      <img src="{{ attraction.image }}">
    </div>
  </div>
</main>