
main {
    background-color: #fff;
    color: #333;
}
img {
    max-width: 360px;
}

.destinationBanner {
    text-align: center;
    width: 100%;
    background-size: cover;
    background-color: black;
    background-repeat:   no-repeat;
    background-position: center center;
}

.destinationBanner h2,
.destinationBanner span {
    color: #fff;
    text-shadow: 2px 2px #333;
}

.destinationBanner h2 {
    margin: 40px 0 0;
    font-size: 32px;
}

.destinationBanner span {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 22px;
}

main p {
    width: 80%;
    margin: 20px auto 30px;;
}

main .attractionsHeading {
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 40px;
    display: block;
    width: 100%;
}

.attractionCard {
    margin-bottom: 60px;
}

.attractionCard h4 {
    text-align: center;
    font-size: 18px;
}

.attractionCard p {
    width: 80%;
    margin: 10px auto;
}

.attractionCard a {
    width: 100%;
    text-align: center;
    display: block;
    color: #333;
    text-underline-position: under;
}

.attractionCard a:hover {
    color: #19318D;
    font-weight: 700;
}

.attractionCard img {
    width: 50%;
    margin: 20px auto;
    display: block;
}

@media screen and (min-width: 768px) {
    .destinationBanner {
        width: 100%;
        background-size: cover;
    }

    main p {
        max-width: 600px;
    }

    .attractionCard {
        width: 390px;
        box-sizing: border-box;
        border: 1px solid #333;
    }

}